#firstPage{
display:block;
}
#secondPage{
    display: none;
}
#thirdPage{
    display: none;
}
input[type=submit],input[type=button]{
width:120px;
margin:15px 25px;
padding:5px;
height:40px;
background-color:#1e90ff;
border:none;
border-radius:4px;
color:#fff;
font-family:'Droid Serif',serif
}
#next_btn1{
    margin-right: 0;
    float: right;
}
#next_btn2{
    margin-right: 0;
    float: right;
}
#pre_btn1{
    margin-left: 0;
}
#pre_btn2{
    margin-left: 0
}
input[type=text]:focus,input[type=text]:hover,input[type=password]:hover,input[type=password]:focus,
input[type=email]:hover,input[type=email]:focus{
                background-color:#e7e7e7;
                border:1px solid steelblue;
                
}